
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif Cambria, Times, serif;
    margin: 0;
    box-sizing: border-box;
    
}
    



body{
    font-family: 'Times New Roman', Times, serif;
    
}

dl,ul{
    padding-left: 27%;
}
ul{
    padding-left: 29%;
}
h1,h3{
    text-transform: uppercase;
    letter-spacing: 7px;
}
h1{
    letter-spacing: 10px;
    word-spacing:40px ;

}
.subtitulo{
    
        color: rgb(94, 6, 6);
        padding-left: 27%;
        padding-right: 27%;
        
}
.espaciadotitulo{
    padding-top: 0.75%;
}
 

.pie{
    text-align: center;
    position: relative;
  top:90px;
    
    width: 100%;
    box-sizing: border-box; 
    
       
    background-color:rgb(1, 1, 121);
    color: white;
    font-size: 20px
}


.fotos1{
    position: absolute;
    right: 40.5%;
    bottom: 0%;
   
    
}
.fotos{
    position: absolute;
    right: 43%;
    bottom: 0%;
   
}


.grisClaro
    {background-color: #c9c9c9 ;
    text-align: center;}
.grisOscuro{
    background-color: #afafaf ;}
   
h1{ color: rgb(1, 1, 121);
    text-align: center;
    padding-bottom: 0.5% ;
    padding-top: 0.5%;
}


.negrita{
    font-weight: bold;
}


